Бот отслеживает новые предложения для выбранного запроса на сайте FarPost.<br>
Для отслеживания новых предложений зайдите на сайт или в приложение FarPost,
сформируйте запрос по нужным Вам критериям, и скопируйте ссылку на получившийся запрос.<br>
Создайте подписку в боте, отправив данную ссылку.<br>
Также можно настроить периодичность проверки запроса.