{% set empty = "Отсутствует" %}

<b><u>Название:</u></b> {{ title or empty }} <br>
<b><u>Исполнитель:</u></b> {{ artist or empty }} <br>
<b><u>Альбом:</u></b> {{ album or empty }} <br>
<b><u>Обложка:</u></b> {{ "✅" if thumbnail else empty }} <br>



