{% from "includes/birthdays.jinja2" import birthday_form %}

{% if dates %}
    {% for date, birthdays in dates.items() %}
        {% if birthdays %}
            <u><b>{{ date.strftime('%d.%m.%Y') }} г. день рождения:</b></u> <br>
            {{ birthday_form(date=date, birthdays=birthdays) }}
            <br><br>
        {% endif %}
    {% endfor %}
{% else %}
    Ни у кого в ближайшее время нет дня рождения.
{% endif %}

