{% from "includes/birthdays.jinja2" import birthday_form %}

{% if today_birthdays %}
    <u><b>Сегодня день рождения:</b></u> <br>
    {{ birthday_form(date=today, birthdays=today_birthdays) }}
{% endif %}

    <br>

{% if tomorrow_birthdays %}
    <u><b>Завтра день рождения:</b></u> <br>
    {{ birthday_form(date=tomorrow, birthdays=tomorrow_birthdays) }}
{% endif %}
