<b>Введите паспортные данные в формате:</b> <br><br>

- ФИО полностью <br>
- серия паспорта, номер паспорта (через пробел) <br>
- Дата рождения в формате ДД.ММ.ГГГГ <br>
- Дата выдачи паспорта (при наличии) <br><br>

<b><u>Например:</u></b><br>
Иванов Петр Александрович <br>
1234 567890 <br>
01.01.1981 <br>
12.06.2019 <br>